@using Localist.Client.Shared

<Blazored.Modal.CascadingBlazoredModal>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <div class="text-center mx-auto my-4">
                        <div class="spinner-border" role="status"></div>
                        <p>Authorising...</p>
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <CascadingAuthenticationState>
                <LayoutView Layout="@typeof(MainLayout)">
                    <div class="text-center mt-4">
                        <h1>404 Not Found</h1>
                        <p>Sorry, there's nothing at this address.</p>
                    </div>
                </LayoutView>
            </CascadingAuthenticationState>
        </NotFound>
    </Router>
</Blazored.Modal.CascadingBlazoredModal>