@page "/settings"

@attribute [Microsoft.AspNetCore.Authorization.Authorize]

<section id="settings">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Change Password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
        </li>
    </ul>
</section>
