@inherits LayoutComponentBase

<main class="content container mx-auto p-2">
    @Body
</main>
<Blazored.Toast.BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopCenter" />
<footer>
    <NavMenu />
</footer>